.about{
    width: 270px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
    margin: 12px 13px 40px 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .about-icon{
    margin-top: -40px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ff6600;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about h4{
    font-size: 20px;
    letter-spacing: 3px;
    padding: 10px 0;
}
.about p{
    font-size: 15px;
    padding: 7px;
}
.about .about-btn{
    margin: 15px;
    border: none;
    background-color: #ff6600;
    padding: 8px 12px;
    border-radius: 15px;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    font-weight: bold;
}


@media (min-width: 900px) and (max-width: 1025px){
    .about{
        width: 210px;
    }
}