.about-section{
    margin-top: 100px;
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-top: 50px;
}
.about-header h3{
    font-size: 18px;
    padding-bottom: 7px;
    font-weight: bold;
    width: 150px;
    margin: 0 auto;
    border-bottom: 4px solid #ff6600;
    color: #ff6600;
    margin-bottom: 20px;
}
.about-header h2{
    letter-spacing: 5px;
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
}