.gallery{
    width: 300px;
    text-align: center;
    margin: 12px 13px 40px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: hidden;
}
.gallery-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}
.gallery-text{
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.7;
    padding-top: 25%;
    margin-right: 200%;
    color: white;
    font-weight: bold;
    transition: all 0.7s ease-in-out;
}
.gallery-image img{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0px !important;
    border-radius: 7px;
    transform: scale(1);
    transition: transform .7s ease;
}
.gallery:hover .gallery-text{
    margin-right: 0%;
}




@media (min-width: 900px) and (max-width: 1300px){
    .gallery{
        width: 220px;
    }
    .gallery-image{
        width: 220px;
        height: 240px;
        border-radius: 10px;
    }
    .gallery-text h4{
        font-size: 14px;
    }
    .gallery-text p{
        font-size: 12px;
    }
}