.banner-content{
    background: rgba(10, 10, 10, 0.4);
    background-attachment: fixed;
    height: 100vh !important;
    background-size: cover;
    padding-bottom: 93px;
}
.header-text{
    padding: 40px 10px 5px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text h2{
    color: #fff;
    font-size: 60px;
    font-family: sans-serif;
}
.banner-section h3{
    font-size: 30px;
    font-weight: lighter;
    font-family: monospace;
}
/** serchbar  **/
.searchbar{
    display: flex;
    flex-wrap: nowrap;
    width: 500px;
    box-sizing: border-box;
    margin: 0 auto;
}
.search-box{
    width: 100%;
    height: 41px;
    display: flex;
    border: 3px solid #ff6600;
    border-radius: 35px;
    position: relative;
}
.search{
    width: 100%;
    height: 100% !important;
    border: 1px solid transparent;
    border-right: none;
    padding: 0px;
    height: 20px !important;
    outline: none;
    color: #fff !important;
    font-family: monospace;
    background-color: transparent;
}
.search-btn{
    position: absolute;
    right: 0;   
    top: -10px;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 22px;
    background-color: transparent;
    border-radius: 0px 50px 50px 0px;
}



.search-box input::placeholder{
    color: #fff !important;
    font-weight: bold;
    padding-left: 15px;
}
/** end of searchbar **/
.banner-btn{
    border: 3px solid #ff6600;
    width: 280px;
    margin: 25px auto !important;
    height: 42px;
    background: #ff6600;
    border-radius: 35px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    transition: all 0.8s ease;
    font-weight: bold;
}
.banner-btn:hover{
    background: transparent;
    color: #ff6600;
    font-weight: bold;
}




@media (min-width: 320px) and (max-width: 550px){
    .searchbar{
        width: 230px;
    }
    .dropdown{
        width: 70px !important;
    }
    .search-box{
        width: 230px;
        height: 37px;
    }
    .search-btn{
        height: 32px;
    }
    .search{
        padding-bottom: 15px !important;
    }
    
    ::placeholder{
        padding-left: 5px;
        font-size: 13px;
    }
    .header-text{
        width: 100%;
        padding: 40px 10px 5px 10px;
    }
    .header-text h2{
        font-size: 30px;
    }
    .banner-section h3{
        font-size: 18px;
    }
    .banner-btn{
        width: 65%;
    }
    .banner-content {
        padding-bottom: 50px;
    }
    .carousel .control-dots{
        top: 45%;
    }
}
@media (min-width: 375px){
    .banner-content{
        padding-bottom: 76px;
    }
}
@media (min-width: 550px) and (max-width: 768px){
    .header-text{
        width: 100%;
        padding: 40px 10px 5px 0;
    }
    .header-text h2{
        font-size: 55px;
    }
    .banner-section h3{
        font-size: 35px;
    }
    .banner-content {
        padding-bottom: 80px;
    }
}
@media (min-width: 720px) and (max-width: 1024px){
    .header-text{
        width: 100%;
        padding: 40px 10px 5px 40px;
        text-align: left !important;
    }
    .header-text h2{
        font-size: 60px;
    }
    .banner-section h3{
        font-size: 26px;
    }
    .banner-content {
        height: 10vh;
    }
    .search {
        padding: 5px 5px;
    }
}
@media (min-width: 1024px) and (max-width: 1440px){
    .carousel .control-dots {
        position: absolute;
        bottom: 31%;
    }
    .search {
        padding: 5px;
    }
}
@media only screen and (max-width: 325px){
    .searchbar{
        width: 230px;
    }
    .dd-button:after {
        right: 1px !important;
    }
}
@media only screen and (min-width: 1440px){
    .search {
        padding: 5px;
    }
}