.service{
    width: 340px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
}
.service-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    object-fit: contain;
}
.service img{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0px !important;
    border-radius: 7px;
}
.service-content{
    padding:10px 15px;
}
.service-content h3{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
}
.service-content p{
    color: rgb(153, 142, 142);
}
.service-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-btn{
    background: #ff6600;
    border: 2px solid #ff6600;
    height: 45px;
    border-radius: 35px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
}

@media only screen and (max-width: 768px){
    .service{
        width: 260px;
    }
}
@media (min-width: 950px) and (max-width: 1200px){
    .service{
        width: 240px;
    }
    .service-content h3{
        font-size: 17px;
    }
    .service-content p{
        font-size: 12px;
    }
    .service-footer h1{
        font-size: 26px;
    }
}