.row{
    margin: 0 !important;
}
.admin{
    flex-direction: row;
    flex-basis: 100%;
    flex-grow: 1;
    background-color: rgb(231, 104, 19);
}
a:hover{
    text-decoration: none !important;
    color: tomato !important;
}
.admin .col-md-4{
    height: auto !important;
}
.navbar-toggler .admin{
    height: 400px !important;
}
.admin .brand a{
    font-family: fantasy;
    font-size: 20px;
}
.admin a{
    color: white !important;
    font-family: monospace;
    font-size: 17px;
}
.admin .icon{
    margin: 0 10px;
}
.admin .navbar{
    display: block !important;
}
.admin .admin-items{
    display: flow-root;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent !important;
    padding-left: 30%;
    position: absolute !important;
    right: 0% !important;
}
/***********    Responsive      ***********/
@media (min-width: 768px){
    .admin{
        height: 100vh;
    }
    .brand a{
        font-size: 12px !important;
    }
}
@media (min-width: 1000px){
    .admin{
        float: left;
        position: relative !important;
    }
    .col-md-4{
        max-width: 300px !important;
    }
    .brand a{
        font-size: 26px !important;
    }
}